head {
    background: #ffffff;
}
div#header {
    background: #ffffff;
    height: 99px;
    border-bottom: 2px solid #dddddd;
}
div#subhead{
    width: 960px;
    margin: auto;
}
body {
    margin: 0 auto;
    color: #777777;
    background-image: url("../images/gravel.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#logomain {
    background: #4aaaa5;
    margin-top: 0;
    margin-left: -30px;
    padding: 10px 10px 10px 30px;
    width: 265px;
    float: left;
}

h1 {
    color: #4aaaa5;
}

#logomain h1 {
    color: white;
}

ul {
    float: right;
    list-style-type: none;
    padding-top: 20px;
    padding-right: 5px;
}
li {
    display: inline;
}

a {
    text-decoration: none;
    color: #777777;
}

section#main {
    background: #ffffff;
    padding: 10px 30px 20px 30px;
    width: 960px;
    margin: 40px auto 110px;
    line-height: 2em;
    border: 2px solid #dddddd;
}

#main h1 {
    clear: both;
    padding: 0 10px 25px 10px;
    border-bottom: 2px solid #777777;
}

img {
    display: inline;
    /* float: left; */
    margin: 10px;
    padding: 20px;
}
img#home {
    display: inline;
    float: left;
    margin: 10px;
    padding: 0 10px 0 0;
}

p {
    padding-left: 5px;
}

p.hidden {
    visibility: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    background: #666666;
    color: #cccccc;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 50px;
    padding-bottom: 0;
    text-align: center;
    font-size: .65em;
}

a:hover {
    color: #4aaaa5;
}

@media screen and (max-width: 980px) {
    section#main {
        width: 600px;
        margin-left: 20px;
    }
    div#subhead {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
    body {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    section#main {
        width: auto;
        margin-right: 20px;
    }
    div#subhead {
        width: auto;
    }
    textarea {
        width: auto;
        padding-right: 30px;
    }
    img {
        padding: 10px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 640px) {
    div#header {
        background: #4aaaa5;
        position: static;
        width: auto;
    }
    div#logomain {
        width: 100%;
        float: top;
        text-align: center;
    }
    div#topMenu {
        clear: both;
        text-align: center;
        background: #ffffff;
        margin: -50px;
        margin-bottom: 10px;
    }
    ul {
        text-align: center;
        padding: 10px;
        float: none;
        width: 100%;
    }
    textarea, input[type="text"] {
        width: 90%;
    }
    footer {
        position: relative;
    }
}